body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.header{
    width:100%;
    background-color: lavender;
}

.title{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu{
    background-color: antiquewhite;
}

.menu ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}



.menu ul li a{
    text-decoration: none;
    display: block;
    padding: .5rem 1rem;
}

.main{
    flex-grow: 1;
}

.imagen{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.software {
    width: 80%;
    background-color: aqua;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
}

.gimp{
    width: 6rem;
    height: 6rem;
    margin: 1rem;
    border-radius: 1rem;
}

.imagenesFuente{
    display: flex;
    justify-content: space-evenly;
}

.imagenes{
    width: 15rem;
    height: 15rem;
    object-fit: contain;
}

figcaption{
    text-align: center;
}

.footer{
    width:100%;
    background-color: lavender;
}